.header{
  margin-bottom: 1.3rem;
}
.tabs{
  background: #363636;
  font-weight: bolder;
}
.tabs a{
  color:white;
}
.title.is-3{
  margin-top: 1.3rem;
}
p.title.is-3{
  margin-top: -.1rem;
  overflow: none;
}